@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=========== Basic Definitions ==========*/

:root {
    --orange:       hsl(22,89%,52%);
    --light-orange: hsl(22,100%,69%);
    --white:        hsl(0,0%,100%);
    --light-gray:   hsl(198,28%,93%);
    --gray:         hsl(221,23%,58%);
    --dark-gray:    hsl(220,50%,17%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-size: 10px
}

body {
    background-color: rgb(255, 255, 255);
}

/*=========== Typography ==========*/

.typo-h1 {
    font-size: 5.6rem;
    font-weight: bolder;
    line-height: 56px;
    color: var(--dark-gray);
}

.typo-h2 {
    font-size:3.2rem;
    font-weight: bolder;
    line-height: 32px;
    color: var(--dark-gray);
}

.typo-h3 {
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 28px;
    color: var(--dark-gray);
}

.typo-paragraph {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
    color: var(--gray);
}


/*=========== Buttons ==========*/

.btn-1 {
    display: inline-block;
    width: 175px;
    height: 58px;
    background-color: var(--orange);
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: var(--white);
}

.btn-1:hover {
    background-color: var(--light-orange);
}

.btn-2 {
    display: inline-block;
    width: 175px;
    height: 58px;
    background-color: var(--light-gray);
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: var(--dark-gray);
}

.btn-2:hover {
    color: var(--white);
    background-color: var(--dark-gray);
}




/*=========== DESKTOP DESIGN ==========*/

.wrapper {
    background-color: var(--white);
    min-width: 1100px;
}





/*--------- Header ---------*/

.page-header {
    width: 1100px;
    margin: 55px auto 83px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





/*--------- Section 1 ---------*/

.page-title {
    background-image: url(assets/shared/pattern-square.svg);
    background-repeat: no-repeat;
    background-position: top right -120px;
    margin-bottom: 30px;
}

.page-title-container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-title .box {
    width: 445px;
}

.page-title .box h1 {
    margin-bottom: 24px;
}

.page-title .box p {
    margin-bottom: 40px;
    font-size: 1.8rem;
}

.page-title .box a {
    margin-right: 40px;
}

.page-title .box span {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 26px;
    color: var(--gray);
}

.page-title img { 
    width: 540px;
    border-radius: 20px;
}






/*--------- Section 2 ---------*/

.product {
    background-image: url(assets/shared/pattern-square.svg);
    background-repeat: no-repeat;
    background-position: bottom left -120px;
    margin-bottom: 168px;
}

.product-container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-container .box1 {
    display: flex;
}

.product-container .box1 .img-wrapper {
    position: relative;
    margin-right: 30px;
}

.product-container .box1 .img-wrapper::after {
    display: flex;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: hsl(22, 89%, 52%);
    mix-blend-mode: multiply;
}

.product-container .box1 .img-wrapper .img1 {
    width: 255px;
    height: 480px;
    border-radius: 20px;

}

.product-container .box1 .img2 {
    width: 455px;
    height: 480px;
    border-radius: 20px;
}

.product-container .box2 {
    width: 255px;
    height: 265px;
}

.product-container .box2 h2 {
    margin-bottom: 27px;
}




/*--------- Section 3 ---------*/

.product-info {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template: 323px / repeat(4, 255px);
    gap: 30px;
}

.product-info div i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: var(--orange);
    border-radius: 16px;
    margin-bottom: 40px;
}

.product-info div h2 {
    margin-bottom: 24px;
}






/*--------- Footer ---------*/

.page-footer {
    padding: 128px 0px 39px 0px;
}

.page-footer strong {
    display: block;
    width: max-content;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
    color: var(--gray); 
}


.page-footer strong em {
    font-weight: 700;
    font-style: normal;
    color: var(--gray);
}