@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --pale-blue:        hsl(225, 100%, 94%);
    --bright-blue:      hsl(245, 75%, 52%);
    --very-pale-blue:   hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue:        hsl(223, 47%, 23%);
    --box-background:   hsl(228,100%,99%);
    --white:            hsl(0,0%,100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: var(--pale-blue);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 2s ease;
}





.card {
    width: 450px;
    height: 697px;  /*  auto olacak */
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 40px 40px var(--card-shadow);
}

.card .img-music {
    width: 100%;
    height: auto;
}

.card .box {
    width: 100%;
    padding: 45px 48px 48px 48px;
    transition: 
    padding 1s ease,
    width 2s ease,
    height 2s ease;
}

.card .box .title  {
    width: 100%;
    font-size: 2.8rem;
    font-weight: 900;
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 17px
}

.card .box .description {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--desaturated-blue);
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px;
}

.card .box .plan-container {
    width: 100%;
    padding: 25px 24px;
    background-color: var(--very-pale-blue);
    border-radius: 11px;
    margin-bottom: 32px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card .box .plan-container .plan-box {
    margin-left: 20px;
} 

.card .box .plan-container .plan-box span{
    display: block;
}

.card .box .plan-container .plan-box .annual-plan {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 6px;
    color: var(--dark-blue);
}

.card .box .plan-container .plan-box .price {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--desaturated-blue);
}

.card .box .plan-container .change {
    display: inline-block;
    margin-left: auto;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--bright-blue);
}

.card .box .plan-container .change:hover {
    color: #766cf1;
}

.card .box .payment {
    display: block;
    width: 100%;
    border-radius: 11px;
    background-color: var(--bright-blue);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: 900;
    box-shadow: 0px 20px 20px rgba(57, 42, 225, 0.179);
    margin-bottom: 32px;
}

.card .box .payment:hover {
    background-color: #766cf1;
}

.card .box .cancel {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--desaturated-blue);
    text-align: center;
}

.card .box .cancel:hover {
    color: #1f2e55;
}



/* ======== Responsive ======== */

@media (width <= 375px) {

    body {
        align-items: flex-start;
        min-width: 328px;
    }

    .card {
        width: 95%;
        height: auto;
        margin-top: 71px;
    }

    .card .box {
        padding: 32px 24px;
    }
}