@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Poppins", sans-serif; */
/* font-family: "Open Sans", sans-serif; */

:root {
    --Violet:      hsl(257, 40%, 49%);
    --oft-Magenta: hsl(300, 69%, 71%);
    --icon-hover:  hsl(322,100%,66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 10px;
}

body {
    height: 100vh;
    background-color: var(--Violet);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 1275px;
    margin: 50px auto 85px auto;
}

.header img {
    width: 200px;
}

.content {
    width: 1275px;
    margin: 0px auto 27px auto;
    display: flex;
}

.content img {
    width: 696px;
    height: auto;
    margin-right: 59px;
}

.content .box {
    padding-top: 32px;
}

.content .box h1 {
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    margin-bottom: 24px;
}

.content .box p {
    font-size: 1.8rem;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    line-height: 27px;
    color: white;
    margin-bottom: 24px;
}

.content .box a {
    display: block;
    width: 200px;
    height: 56px;
    border-radius: 28px;
    background-color: white;
    text-align: center;
    line-height: 56px;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.2586);
}

.content .box a:hover {
    background-color: var(--oft-Magenta);
}

.footer {
    width: 1275px;
    margin: 0 auto;
    padding-left: auto;
}

.footer .container {
    width: max-content;
    margin-left: auto;
}

.footer .container a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1.18px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.footer .container a:not(:last-child) {
    margin-right: 16px;
}

.footer .container a:hover {
    border-color: var(--icon-hover);
}

.footer .container a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
}

.footer .container a i:hover {
    color: var(--icon-hover);
}

.footer .fa-facebook-f {
    font-size: 1.9rem;
}

.footer .fa-twitter {
    font-size: 2.1rem;
}

.footer .fa-instagram {
    font-size: 2.1rem;
}





/*======= RESPONSIVE =========*/

@media (width <= 425px ) {
    body {
        height: auto;
        background-image: url(images/bg-mobile.svg);
        background-size: 100%;
        background-position: top center;
        padding: 38px 36px 0px 36px;
    }

    .header {
        width: 100%;
        margin: 0px auto 70px auto;
    }

    .header img {
        width: 120px;
        height: auto;
    }

    .content {
        width: auto;
        margin: 0px auto 64px auto;
        flex-direction: column;
    }

    .content img {
        width: 296px;
        height: auto;
        margin: 0 auto;
    }

   .content .box h1 {
       font-size: 2.4rem;
       font-weight: 600;
       line-height: 36px;
       margin-bottom: 16px;
       text-align: center;
   }

   .content .box p {
       font-size: 1.6rem;
       font-weight: 400;
       font-variation-settings: "wdth" 88;
       line-height: 24px;
       text-align: center;
       margin-bottom: 48px;
   }

   .content .box a {
       width: 200px;
       height: 40px;
       border-radius: 20px;
       text-align: center;
       line-height: 40px;
       font-size: 1.2rem;
       font-weight: 400;
       font-family: "Poppins", sans-serif;
       text-decoration: none;
       box-shadow: none;
       margin: 0 auto;
   }

   .footer {
       width: 100%;
       margin-bottom: 300px;
   }

   .footer .container {
        width: max-content;
        margin: 0 auto;
   }

   .attribution {
        width: 90%;
   }

   .content .box a:hover {
       color: white;
   }
}